Importar Bibliotecas Necesarias:

In [1]:
import pandas as pd 
import json as js 
import ast as ast
import gzip
from pandas import json_normalize

Ruta del Archivo e Inicialización:

In [2]:
path_reviews = r'C:\Users\Owner\Desktop\LABS\Proyecto_STEAM\datos_STEAM\user_reviews.json.gz'

In [3]:
lista_reviews = []
with gzip.open(path_reviews, 'rt', encoding='utf-8') as file:
    for line in file.readlines():
        lista_reviews.append(ast.literal_eval(line))

df_reviews = pd.DataFrame(lista_reviews)
df_reviews_clean = df_reviews.copy()

In [4]:
df_reviews_clean

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."
2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',..."
3,doctr,http://steamcommunity.com/id/doctr,"[{'funny': '', 'posted': 'Posted October 14, 2..."
4,maplemage,http://steamcommunity.com/id/maplemage,"[{'funny': '3 people found this review funny',..."
...,...,...,...
25794,76561198306599751,http://steamcommunity.com/profiles/76561198306...,"[{'funny': '', 'posted': 'Posted May 31.', 'la..."
25795,Ghoustik,http://steamcommunity.com/id/Ghoustik,"[{'funny': '', 'posted': 'Posted June 17.', 'l..."
25796,76561198310819422,http://steamcommunity.com/profiles/76561198310...,"[{'funny': '1 person found this review funny',..."
25797,76561198312638244,http://steamcommunity.com/profiles/76561198312...,"[{'funny': '', 'posted': 'Posted July 21.', 'l..."
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,"[{'funny': '1 person found this review funny',..."

needed to import json normalize here

In [5]:
df_expanded = df_reviews_clean.explode('reviews')

In [6]:
df_expanded.reset_index(drop=True, inplace=True)

In [7]:
df_reviews_normalized = json_normalize(df_expanded['reviews'])

In [8]:
df_final = pd.concat([df_expanded.drop(columns=['reviews']), df_reviews_normalized], axis=1)

In [9]:
columns_to_drop = ['funny', 'last_edited', 'helpful']
df_reviews_clean = df_final.drop(columns=columns_to_drop, errors='ignore')

df_reviews_clean

,user_id,user_url,posted,item_id,recommend,review
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"Posted November 5, 2011.",1250,True,Simple yet with great replayability. In my opi...
1,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"Posted July 15, 2011.",22200,True,It's unique and worth a playthrough.
2,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"Posted April 21, 2011.",43110,True,Great atmosphere. The gunplay can be a bit chu...
3,js41637,http://steamcommunity.com/id/js41637,"Posted June 24, 2014.",251610,True,I know what you think when you see this title ...
4,js41637,http://steamcommunity.com/id/js41637,"Posted September 8, 2013.",227300,True,For a simple (it's actually not all that simpl...
...,...,...,...,...,...,...
59328,76561198312638244,http://steamcommunity.com/profiles/76561198312...,Posted July 10.,70,True,a must have classic from steam definitely wort...
59329,76561198312638244,http://steamcommunity.com/profiles/76561198312...,Posted July 8.,362890,True,this game is a perfect remake of the original ...
59330,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,Posted July 3.,273110,True,had so much fun plaing this and collecting res...
59331,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,Posted July 20.,730,True,:D
59332,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,Posted July 2.,440,True,so much fun :D

In [11]:
df_reviews_clean.to_csv('reviews_clean.csv', index=False)

In [13]:
df_reviews_clean.to_parquet('reviews_clean.parquet', index=False)